* {
    margin: 0;
    padding: 0;
}

.nav__list {
    height: 78px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav__item {
    display: inline;
    margin-right: 72px;
}

.nav__link {
    text-transform: uppercase;  
    text-decoration: none;
    font-weight: bold; 
    font-size: 18px;
    color: #FF0000;     
}

.main {
    text-align: center;
}

.main__image {
    width: 100%;
    margin-bottom: 49px;
}

.headline {
    text-transform: uppercase;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 38px;  
}

.text {
    font-size: 16px;
    margin-block: 28px;
    margin-left: 67px;
    margin-right: 67px;
}

.headline, .text, .footer, .nav__link {
    font-family: sans-serif;
    letter-spacing: 2.5px;
}

.headline, .text, .footer {
    color: #373737;
}

.button {
    color: #FFFFFF;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1.8px;
    display: inline-block;
    width: 191px;
    height: 51px;
    background: #FF0000;
    border-radius: 4px;
    border: none;
    margin-top: 66px;
    cursor: pointer;
}

.button:hover {
    background: orange;
}

.footer {
    font-size: 16px;
    text-align: right;
    margin-top: 82px;
    margin-right: 105px;
    margin-bottom: 29px; 
}